.App {
  background-color: rgb(255, 254, 254);
  font-family: sans-serif;
  text-align: center;
}
/* .user-profile {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

*/
.bt-sz-lg {
  font-size: 20px;
  gap: 5px;
}
.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  /* background-color: rgb(34, 33, 33); */

  text-align: left;
  width: 340px;
}
.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: inherit;
  box-shadow: 5px 10px 10px rgb(20, 20, 20);
}
.movie-name {
  font-size: 24px;
  margin: 0;
}
.movie-summary {
  margin: 0;
}

.movie-rating {
  font-size: 18px;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.counter {
  display: flex;
}

.counter-container {
  display: flex;
  gap: 10px;
}
.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}
.counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-detail-container {
  max-width: 800px;
}
/* .button {
  justify-content: left;
} */
.notfund {
  width: 100%;
  object-fit: cover;
}
